/*root colors*/

@import "utilities/utils.css";

@font-face {
    font-family: "Raleway-regular";
    src: url("../assets/fonts/Raleway-Regular.ttf");

}

@font-face {
    font-family: "Raleway-bold";
    src: url("../assets/fonts/Raleway-Bold.ttf");

}

@font-face {
    font-family: "Raleway-medium";
    src: url("../assets/fonts/Raleway-Medium.ttf");

}

@font-face {
    font-family: "Raleway-semibold";
    src: url("../assets/fonts/Raleway-SemiBold.ttf");

}


@font-face {
    font-family: "Raleway-black";
    src: url("../assets/fonts/Raleway-Black.ttf");

}

:root {
    --primary: #EEBF00;
    --secondary: #232B38;
    --ternary: #6C6C6C;
    --danger: #FE4545;
    --pure: #FEFEFE;
    --light: #F0F0F0;
    --heaven: #FFFFFF;
    --footer: #2D333F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: "Raleway-regular";

}

.pagewrapper {
    position: relative;
}

.container {
    max-width: 1152px;
    margin: 0 auto;
    padding: 0 1rem;
}

section {
    padding: 4rem 0;
}

/*container media queries*/


@media screen and (min-width: 576px) {

    .container {
        max-width: 540px;
    }

}

@media screen and (min-width: 768px) {

    .container {
        max-width: 720px;
    }


}

@media screen and (min-width: 992px) {

    .container {
        max-width: 960px;
    }


}

@media screen and (min-width: 1200px) {

    .container {
        max-width: 1152px;
    }

}


/*container media queries end here */

header.topbar {
    padding: 0.8rem 0;
    background-color: var(--secondary);
    color: var(--pure);
    font-family: "Raleway-SemiBold";
}


.topbar .social-icons a {
    color: var(--pure);
    margin-right: 0.8rem;
}

.topbar .right-child-pre-header .divider {
    color: var(--pure);
}

.topbar .right-child-pre-header a {
    color: var(--pure);
    padding: 0 1rem;
    text-decoration: none;

}

.topbar .right-child-pre-header a:last-child {
    border-right: none;
    padding-right: 0;
}

.topbar .right-child-pre-header a .bi {
    margin-right: 0.8rem;
}

nav.navigation {
    padding: 2rem 0;

}

/*nav.navigation .container {*/
/*    padding-bottom: 2rem;*/
/*    box-shadow: 1px 12px 13px -8px rgba(0,0,0,0.66);*/
/*    -webkit-box-shadow: 1px 12px 13px -8px rgba(0,0,0,0.66);*/
/*    -moz-box-shadow: 1px 12px 13px -8px rgba(0,0,0,0.66)*/

/*}*/
nav.navigation .top-child-container .branding-image img {
    max-width: 200px;
    width: 100%;
    height: auto;

}

nav.navigation .top-child-container .bi-telephone-fill, nav.navigation .top-child-container .bi-clock-fill {
    color: var(--primary);
    font-size: 1.5rem;
    margin-right: 1rem;
}


nav.navigation .top-child-container .info-div h5 {
    font-family: "Raleway-black";
    font-size: 1rem;
    margin-bottom: 0.3rem;

}

nav.navigation .top-child-container .info-div h6.semi-bold {
    font-family: "Raleway-medium";
    font-size: 0.8rem;
    letter-spacing: 0.055rem;
    color: var(--ternary);
}

.navbar-bottom {
    /*box-shadow: 0px 6px 10px -6px rgba(0, 0, 0, 0.66);*/
    /*-webkit-box-shadow: 0px 6px 5px -6px rgba(0, 0, 0, 0.66);*/
    /*-moz-box-shadow: 0px 6px 10px -6px rgba(0, 0, 0, 0.66);*/
    margin-top: 2.5rem;
}

.navbar-bottom .navbar-bottom-ul li {
    list-style-type: none;
    /*flex-grow: 1;*/
    /*flex-shrink: 1;*/
    /*margin-right: 0.7rem;*/
}

.navbar-bottom .navbar-bottom-ul li a {
    text-decoration: none;
    color: var(--secondary);
    font-family: "Raleway-bold";
    font-size: 1rem;
    letter-spacing: 0.055rem;
    padding: 1rem 1.5rem;
    display: block;

}

.navbar-bottom .navbar-bottom-ul li a.active {
    color: var(--heaven);
    background-color: var(--primary);
}

.navbar-bottom .navbar-bottom-ul li a:hover {
    color: var(--heaven);
    transition: all 0.2s ease-in-out;
    background-color: var(--primary);
}


.magic-shadow {
    position: relative;
    background: var(--heaven);
}

.magic-shadow:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -20px;
    width: 100%;
    height: 69px;
    background-image: url("/icons/shadow.svg");
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}

/*hero secontion*/
header.hero {
    background-image: url("/images/hero.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
    height: 400px;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
}

header.hero .container {
    flex-grow: 1;
}

header.hero .hero-headings {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;

}

header.hero .hero-headings h5 {
    font-family: "Raleway-bold";
    font-size: 1rem;
    margin-right: 0.5rem;
}

header.hero .hero-headings img {
    max-width: 120px;
    width: 100%;
    height: auto;

}

header.hero .hero-text h1 {
    font-family: "Raleway-black";
    margin-bottom: 1.3rem;


}

header.hero .hero-text p {
    font-family: "Raleway-semibold";
    font-size: 1rem;
    margin-bottom: 1.3rem;
    width: 30rem;


}

header.hero .hero-items .hero-section-right-image .hero-img {
    max-width: 365px;
    width: 100%;
    height: auto;
    position: absolute;
    top: 35px;
    left: 56%;

}

.creative {
    color: var(--primary);
}

.topproducts {
    background-color: var(--light);
}

.topproducts .top-products-heading-section {
    text-align: center;
    margin-bottom: 3rem;
}

.topproducts .top-products-heading-section h1 {
    font-family: "Raleway-semibold";
    font-size: 1.5rem;
    margin-bottom: 1rem;

}

.topproducts .card {
    text-align: center;
    background-color: var(--heaven);
    flex-grow: 1;
    max-width: 350px;
    border-radius: 0.2rem;

}

.topproducts .card hr {

    border: 0.5px solid var(--light);
    font-family: "Raleway-regular";
}


.topproducts .card .card-image-resize {
    max-width: 200px;
    width: 100%;
    height: 200px;
    border-radius: 50%;
    margin: 1rem;
    display: inline-block;

}

.topproducts .card .card-description {

    padding: 2rem 1rem;

}

.topproducts .card .card-description h3 {
    font-family: "Raleway-bold";
    font-size: 1.2rem;
    margin-bottom: 0.5rem;

}

.topproducts .card .card-description .stars {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    margin-bottom: 0.5rem;
}

.topproducts .card .card-description p {
    font-family: "Raleway-semibold";
    font-size: 1rem;
    margin-bottom: 0.7rem;
    color: var(--danger);
}

.product-slider {
    margin-bottom: 4rem;
}


.topproducts .card .card-description .cart-button-wrapper {
    border: 2px solid var(--primary);
    padding: 0.35rem 1rem 0.35rem 0;
    display: inline-block;
    border-radius: 0.2rem;
    cursor: pointer;
    font-family: "Raleway-semibold";


}

.topproducts .card .card-description .cart-button-wrapper:hover {
    background-color: var(--primary);
    transition: all 0.2s ease-in-out;
    color: var(--heaven);

}

.topproducts .card .card-description .cart-button-wrapper .bi-cart-fill {
    background-color: var(--primary);
    padding: 0.35rem 1rem;
    color: var(--heaven);
    margin-right: 0.4rem;

}

.topproducts .view-more-products-button {
    font-family: "Raleway-medium";
}

.topproducts .view-more-products-button:hover {

    color: var(--secondary);
}

.slick-dots {
    display: none !important;
}


.slick-next:before, .slick-prev:before {
    color: var(--primary) !important;
}

/*fresh meals*/

.freshmeals .fresh-meal-heading-section {
    text-align: center;
    margin-bottom: 6rem;
}


.freshmeals .fresh-meal-heading-section h1 {
    font-family: "Raleway-semibold";
    font-size: 1.5rem;
    margin-bottom: 1rem;

}

.freshmeals .fresh-meal-content-section {
    gap: 1rem;
}

.freshmeals .fresh-meal-content-section .left {

    margin-top: -50px;
    flex: 1;

}

.freshmeals .fresh-meal-content-section .right {

    margin-top: -40px;
    flex: 1;

}

.freshmeals .fresh-meal-content-section .left img {
    width: 85%;
    height: auto;
}

.freshmeals .fresh-meal-content-section .right h2 {
    font-family: "Raleway-bold";
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.freshmeals .fresh-meal-content-section .right p {
    font-family: "Raleway-regular";
    font-size: 1rem;
    line-height: 1.7rem;
    margin-bottom: 4rem;
    color: var(--ternary);
}

/*our services section*/

.ourservices {
    background-color: var(--light);
}

.ourservices .ourservices-headings-section {

    text-align: center;
    margin-bottom: 6rem;

}

.ourservices .our-services-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;

}


.ourservices .our-services-cards-wrapper .card {

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 280px;
    padding: 4rem 2rem 2rem 2rem;
    border-radius: 0.2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust the values as needed */
    background-color: var(--pure);
    text-align: center;
    position: relative;
    transition: all 0.3s ease-in-out;


}


.ourservices .our-services-cards-wrapper .card .card-header .card-title h3 {
    font-family: "Raleway-bold";
    font-size: 1.2rem;
    margin-bottom: 1rem;
}


.ourservices .our-services-cards-wrapper .card .card-body p {
    font-family: "Raleway-semibold";
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: var(--ternary);
    line-height: 1.5rem;
}


.card-img-for-icons {
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);

}

.ourservices .our-services-cards-wrapper .card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
    transition: all 0.3s ease-in-out;


}

.ourservices .our-services-cards-wrapper .card.active h3 {
    color: var(--primary);

}

.ourservices .our-services-cards-wrapper .card.active .btn {
    background-color: var(--primary);
    color: var(--heaven);
}

/*weekly deals section*/
.weeklydeals {
    background-image: linear-gradient(rgba(35, 43, 56, 0.9), rgba(35, 43, 56, 0.9)), url("/images/food-table.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}

.weeklydeals .weekly-deals-heading-section {
    text-align: center;
    margin-bottom: 6rem;

}

.weeklydeals .weekly-deals-heading-section h1 {
    font-family: "Raleway-semibold";
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--heaven);

}

.weeklydeals .weekly-deals-heading-section {
    margin-bottom: 3rem;
}

.weeklydeals .time-boxes-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem;
}

.weeklydeals .time-boxes-wrapper div {
    max-width: 140px;
    width: 100%;
    height: 140px;
    border-radius: 0.2rem;
    text-align: center;
    font-family: "Raleway-bold";
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--primary);
    color: var(--heaven);
    transition: all 0.2s ease-in-out;
    cursor: pointer;

}

.weeklydeals .time-boxes-wrapper div h1 {
    font-size: 2rem;
    font-family: "Raleway-SemiBold";
}

.weeklydeals .time-boxes-wrapper div .muted {
    font-family: "Raleway-regular";
    font-size: 1rem;
    color: var(--light);
}

.weeklydeals .time-boxes-wrapper div:hover {
    background-color: var(--heaven);
    transform: translateY(-15px);
    transition: all 0.2s ease-in-out;

}

.weeklydeals .time-boxes-wrapper div:hover h1 {
    color: var(--primary);
}

.weeklydeals .time-boxes-wrapper div:hover .muted {
    color: var(--secondary);
    font-family: "Raleway-semibold";

}

.blogs .our-blogs-heading-section {
    text-align: center;
    margin-bottom: 3rem;
}

.blogs .our-blogs-heading-section h1 {
    font-family: "Raleway-semibold";
    font-size: 1.5rem;
    margin-bottom: 1rem;

}

.blogs .our-blogs-heading-section p {
    font-family: "Raleway-semibold";
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: var(--ternary);
    line-height: 1.5rem;
}


.blogs .blogs-cards-wrapper {

    gap: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;

}

.blogs .blogs-cards-wrapper .card {
    flex: 1;
    flex-basis: 300px;
    max-width: 430px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease-in-out;


}

.blogs .blogs-cards-wrapper .card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 40px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
    transition: all 0.3s ease-in-out;

}

.blogs .blogs-cards-wrapper .card .card-content {
    padding: 0.6rem 2rem 1.5rem 2rem;
}

.blogs .blogs-cards-wrapper .card .card-image img {
    width: 100%;
    height: auto;
    background-color: var(--light);
    margin-bottom: 1.6rem;

}

.blogs .blogs-cards-wrapper .card .dates-postedby-comments-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Raleway-regular";
    color: var(--ternary);
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.blogs .blogs-cards-wrapper .card .card-content h3 {
    font-family: "Raleway-bold";
    font-size: 1rem;
    margin-bottom: 1rem;
}

.blogs .blogs-cards-wrapper .card .card-content p {
    line-height: 1.5rem;
}

.newsletter {
    background-color: var(--primary);

}

.newsletter .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.newsletter .container .left, .newsletter .container .right {
    flex: 1;
}

.newsletter .container .left {
    text-align: end;
}

.newsletter .container .left img {
    width: 85%;
    height: auto;
}

.newsletter .container .right {
    margin-top: -20px;
}

.newsletter .container .right h2 {
    margin-bottom: 1.5rem;
    font-family: "Raleway-bold";
}

.newsletter .container .right p {
    margin-bottom: 1.5rem;
    font-family: "Raleway-medium";
    line-height: 1.5rem;
}

.newsletter .container .right .input {
    position: relative;
}

.newsletter .container .right .input input {
    width: 100%;
    padding: 1.3rem 1rem;
    border-radius: 0.2rem;
    border: none;
    outline: none;
    margin-bottom: 1rem;
    font-family: "Raleway-medium";
    font-size: 1rem;

}

.newsletter .container .right .input button {
    position: absolute;
    right: 10px;
    top: 7px;
}

.contact-us-section-heading-class {
    padding-top: 0;
    padding-bottom: 0;
}

.contact-us-section-heading-class .contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

.contact-us-section-heading-class .contact-container .contact-form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    margin: 0 auto;

}

.contact-us-section-heading-class .contact-container .contact-form-section .contact-div {
    gap: 1rem;
    margin-bottom: 2rem;

}

.contact-us-section-heading-class .contact-container .contact-form-section .contact-div h3 {

    margin-bottom: 0.5rem;
    font-family: "Raleway-bold";
    font-size: 1.2rem;


}
.contact-us-section-heading-class .contact-container .contact-form-section .contact-div h5 {

    font-family: "Raleway-semibold";
    font-size: 1rem;
    letter-spacing: 0.055rem;
    color: var(--ternary);

}
.contact-us-section-heading-class .contact-container .left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 1rem;

}

.contact-us-section-heading-class .contact-container .right {
    text-align: center;


}

.contact-us-section-heading-class .contact-container .left, .contact-us-section-heading-class .contact-container .right {
    flex: 1;
}


.contact-us-section-heading-class .contact-heading-section {
    text-align: center;
    margin-bottom: 4rem;
}

.contact-us-section-heading-class .contact-heading-section h1 {
    font-family: "Raleway-semibold";
    font-size: 1.5rem;
    margin-bottom: 1rem;

}

/*.contact .contact-heading-section p {*/
/*    font-family: "Raleway-semibold";*/
/*    font-size: 1rem;*/
/*    margin-bottom: 1.5rem;*/
/*    color: var(--ternary);*/
/*    line-height: 1.5rem;*/
/*}*/


.social-links-section {
    background-color: var(--footer);
}

.social-link-wrapper{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.social-link-wrapper .social-links-flex-item {
    flex: 1;
    text-align: center;
    padding: 2rem 0;
}
.social-link-wrapper .social-links-flex-item  .social-links-para{
    color: var(--light);
    line-height: 1.5rem;
    margin-bottom: 1.6rem;
    font-family: "Raleway-regular";

}
.social-link-wrapper .social-links-flex-item .social-links-heading{
    font-family: "Raleway-bold";
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: var(--heaven);
}
.social-link-wrapper .social-links-flex-item .social-links-ul{
   text-align: center !important;

}
.social-link-wrapper .social-links-flex-item li{
    list-style-type: none;
    margin-bottom: 1.2rem;
}

.social-link-wrapper .social-links-flex-item li a span{
    width: 7rem;
    display: inline-block;
    text-align: left;
}
.social-link-wrapper .social-links-flex-item li a{
    color: var(--pure);
    text-decoration: none;
    font-family: "Raleway-regular";
    font-size: 1rem;
    transition: all 0.2s ease-in-out;
    font-weight: 200;
}
.social-link-wrapper .social-links-flex-item li a:hover {
    color: var(--primary);
    transition: all 0.2s ease-in-out;
}
.social-links-hr{
    border: 0.3px solid var(--primary);
    margin-bottom: 2rem;
}


.social-link-wrapper .social-links-flex-item  .social-links-btn {
    padding: 0.8rem 1.5rem;
    border-radius: 0.2rem;
    background-color: var(--secondary);
    color: var(--heaven);
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.social-link-wrapper .social-links-flex-item  .bi {
    margin-right: 1rem;
}

.social-link-wrapper .instagram-images-wrapper {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.8rem;
}

.social-link-wrapper .social-links-flex-item .instagram-images-wrapper div{
    width: 28%;
}

.social-link-wrapper .social-links-flex-item .instagram-images-wrapper div img{
    width: 100%;
    height: 60px;
    object-fit: cover;
}

.footer {
    background-color: var(--secondary);
    padding: 1rem 0;
    text-align: center;
    color: var(--heaven);
    font-family: "Raleway-regular";
    font-size: 1rem;
}
.footer .afnan-khattak {
    color: var(--primary);
}